 body {
 	background: #3f3f3f;
 }

 .toDo {
 	margin: auto;
 	margin-top: 60px;
 	padding: 60px 20px;
 	background: #c2c2c2;
 	/* text-align: center; */
 	width: 300px;
 	height: 400px;
 }

 .addList {
 	text-align: center;
 	width: 240px;
 	height: 25px;
 	color: black;
 }

 .btn {
 	height: 30px;
 }

 .btn:hover {
 	color: white;
 	background: #40c43b;
 	border: 2px solid #c2c2c2;
 }

 li {
 	list-style: none;
 	color: rgb(39, 39, 39);
 	font-size: 20px;
 	font-weight: 500;

 }